.food{
        border-bottom: 1px solid gray;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.name{
        font-weight: bold;
        font-size: 1.2rem;
}

.des{
    font-style: italic;
}

.price{
    color: rgb(145, 45, 45);
    font-weight: bold;
    margin-top: 5px ;
}

.add-button{
    display: block;
    padding: 0.5rem 1.5rem ;
    border-radius: 1.5rem;
    font-size: 1.4rem;
    margin-top: 10px;
    border: none;
    background-color: rgb(185, 73, 73);
    color: white;
    cursor: pointer;

}
.food label{
    margin-right: 10px;
    font-weight: bold;
}

.food input{
    width:30px;
    font-size: 1.2rem;
}
